* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../imagenes/fondo1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

#prueba {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding: 10px;
}

#navbar #prueba {
  text-transform: uppercase;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 280px;
  height: 100%;
  border-right: solid black;
  background-color: palegreen;
}

#navbar li {
  border-top: 1px solid;
  list-style: none;
  display: flex;
  width: 100%;
  padding: 10px 30px;
  justify-content: center;
}

#navbar ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}

#navbar ul {
  margin-top: 100px;
}

.navbar-link a {
  text-decoration: none;
}

.main-section {
  position: relative;
  margin-left: 350px;
  margin-right: 50px;
  margin-top: 20px;
}

.main-section h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.main-section p {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.foto {
  display: block;
  margin: auto;
  width: 30%;
}

.foto1 {
  width: 50%;
  display: block;
  margin: auto;
  padding: 15px;
}


@media screen and (max-width: 800px) {
  .foto{
    width: 85%;
  }
}

@media screen and (max-width: 500px) {
  #navbar{
    position: fixed;
   width: 40%;
}
.main-section{
  margin-left: 230px;
  max-width: 100%;
}
#prueba{
  margin-left: 20px;
}
.foto{
  width: 85%;
}
.foto1{
  width: 85%;
}
}